form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30rem;
  padding: 2vh;
  background-image: linear-gradient(to right, #bd53b9, #4e78bf);
  border-radius: 18px;
  height: 70vh;
  box-shadow: 1px 2px 10px #000;
}